{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-mycolor">
    <div class="container-fluid mx-5">
      <a class="navbar-brand" href="{% url 'posts:index' %}"
        ><img
          src="{% static 'img/logo2.png' %}"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />pace</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a
              class="nav-link {% if request.resolver_match.view_name == 'posts:post_create' %} active {% endif %}"
              href="#"
              >Пост</a
            >
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <ion-icon name="person-sharp"></ion-icon> Пользователь
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'users:pas_change' %}">Изменить пароль</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
              <li><a class="dropdown-item" href="{% url 'users:signup' %}">Регистрация</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
